<%- include('header') -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">
        <% for(let i of newListItem ){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" value="<%= i._id %>" onChange="this.form.submit()" name="checkedItem">
                    <p>
                        <%=i.name %>
                    </p>
                    <input type="hidden" value="<%= listTitle %>" name="list" />
                </div>
            </form>
            <% } %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value="<%= listTitle %>">+</button>
                </form>
    </div>

    <%- include('footer') -%>